/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    text-align: center;
}

/* Utilities */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header */

h1 {
    color: rgb(241, 50, 107);
}

header {
    margin: 30px;
}

/* Main */

#presentazione {
    margin: 30px;
    font-size: 18px;
}

.team {
    margin: 30px;
}

img {
    height: 100px;
    padding-right: 5px;
}

h3 {
    padding-top: 5px;
}

.card {
    background-color: black;
    width: calc(100% / 3 - 20px);
    color: white;
    min-height: auto;
    text-align: left;
    float: left;
    line-height: 30px;
    margin: 10px;
}

.card img {
    float: left;
}